services:
  nn-frontend:
    container_name: neural-nexus-frontend
    build:
      context: ./
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./:/app:cached # bind your code
      - /app/node_modules # keep container modules separate
    env_file:
      - .env.dev
      # - .env.local
      # - .env.production
    environment:
      - CHOKIDAR_USEPOLLING=true # force Vite to poll for changes
      - CHOKIDAR_INTERVAL=100  # optional: faster polling
    stdin_open: true
    tty: true
    restart: unless-stopped
